@{
    ViewData["Title"] = "Unexpected Error";
}

<style type="text/css">
    h2 {
        margin-bottom: 10em;
    }

    h3 {
        margin-bottom: 5em;
    }
</style>

<div class="container">
    <h2>Unexpected Error</h2>
    <h3>
        We're sorry, but we encountered an unexpected error trying to process your request.
        If this error persists, please 
        <a href="https://www.cisoregon.org/Contact-CIS" target="_blank">click here</a> to contact technical support for help.
    </h3>
</div>